@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins:wght@200;300;400;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer components { 
  .nav__link {
  @apply relative text-x1 w-fit block after:block after:content-[''] after:absolute after:h-[3px]
  after:bg-yellow-400 text-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition
  after:duration-300 after:origin-right
  }
} */
@layer components {
  .nav__link {
    @apply relative text-xl w-fit block after:block after:content-[''] after:absolute after:h-[3px]  after:bg-yellow-400 text-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition
    after:duration-300 after:origin-right 
    
  }
  .custom-bg{
    background-image: linear-gradient(to right, rgba(0,0,0,0.836),rgba(0,0,0,0.811)),url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0,100% 0,100% 95%, 0% 100%);
  }
  .x-icon {
    cursor: pointer; /* Set default cursor to pointer */
  }
  
  .x-icon:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  .heading__mini {
    @apply text-[17px] text-white opacity-75
  }
  .heading__primary {
    @apply mt-[0.6rem] p-2 sm:p-0 leading-[3.5rem] text-white text-[27px] md:text-[30px] lg:text-[38px] xl:text-[45px]
  }
}

/* @layer components {
  .nav__link {
    @apply relative text-x1 w-fit block;
    content: '';
    position: absolute;
    height: 3px;
    background-color: yellow-400;
    color: white;
    width: full;
    transform: scaleX(0);
    transition: transform 300ms ease-out;
    transform-origin: right;
  }

  .nav__link:hover::after {
    transform: scaleX(1);
  }
} */


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
